@import "tailwindcss";

:root {
  --font-syne: "Syne", sans-serif;
  --font-dm: "DM Sans", sans-serif;
}

body {
  background-color: #09090f;
  color: #e8e6f0;
  font-family: var(--font-dm);
}

html {
  scroll-behavior: smooth;
}
